*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
   }
   body {
   background: #111;
   }
   header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 100px;
      background: rgb(24, 25, 26);
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;
      height: 150px;
   }
   .logo{
       font-size: 32px;
       color: #fff;
       text-decoration: none;
       font-weight: 700;
   
   }
   .img-logo{
       position: absolute;
       height: auto;
       left: 0px;
       width: 250px;
       max-width: 250px;
   
   }
   .navbar a{
       position: relative;
       font-size: 18px;
       color: #fff;
       font-weight: 500;
       text-decoration: none;
       margin-left: 40px ;
   }   
   .navbar a::before{
       content: '';
       position: absolute;
       top: 100%;
       left: 0;
       width: 0;
       height: 2px;
       background: #fff;
       transition: 0.5s;
   
   }
   .navbar a:hover::before{
       width: 100%;
   }
   .text{
       position: absolute;
       margin-top: 160px;
       margin-right: auto;
       margin-left: auto;
       padding-right: 15px;
       padding-left: 15px;
       width: 100%;
   }  
   img{
    max-width: 100%;
   }
   h1{
       display: block;
       margin: 0, 0, 20px;
       text-align: center;
       font-size: 34px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   p{  
        
       display: block;
       margin-block-start: 1em;
       margin-block-end: 1em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       
   }
   .googleform {
text-align: center;
color: white;
text-decoration: none;

   }
   .googleform:hover{
   color: rgb(24, 25, 26);
   }
   a{
color: white;
   }
.chudep{
display: flex;
justify-content: center ;
align-items: center;
}
.mauchusang{
 position: relative;
 font-size: 50px;
 letter-spacing: 10px;
 color: #0afc8f5b;
 text-transform: uppercase;
text-align: center;
-webkit-box-reflect: below 1px linear-gradient(transparent, white);
line-height: 33px;
outline: none;
animation: hoathinh 5s linear infinite;


}
@keyframes hoathinh
{
  0%,18%, 20%,50.1%, 60%, 65.1% , 80%, 90.1%, 92%
  {
    color: #ffffff5b;
    text-shadow: none;
  }

  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%
  {
    color:rgba(255, 247, 247, 0.63);
    text-shadow: 0 0 10px #4f5253,
    0 0 20px #ebebeb,
    0 0 40px #d4e2e7,
    0 0 80px #d4e2e7,
    0 0 160px #d4e2e7;
    
  }




}
footer{

    background: #111;
    height: auto;
    width: 100vw;
    font-family:"Open Sans";
    padding-top: 40px;
    color: #fff;
    inline-size: none;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h2{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size:  1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: gray;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
