*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background:url(wallpaperflare.com_wallpaper\ \(1\).jpg);
    color: #fff;
}
.container{
    display: flex;
    width: 100%;
    min-height: 100vh;           
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}
 .card-bg{
    width: 280px;
    height: 500px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
 .content{
    position: relative;
    left: 0;
    padding: 25px;

}
.card-categories{
    position: absolute;
    padding: 25px;
    font-size: 0.8rem;
    margin-bottom: 10px;
  
    text-transform: uppercase;
}
.card-heading{
    font-size: 1rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
.card:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.container:hover > .card:not(:hover) {
    filter: brightness(0.5) blur(50px);
  }